[Unit]
Description=PiRogue collector for Suricata alerts
Wants=influxdb.service

[Service]
ExecStart=/usr/bin/python3 /etc/pirogue/read_suricata_eve_socket.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify

[Install]
# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=default.target
